name: Deploy Project

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Output Event Info
        run: echo "${{ toJson(github.event) }}"
      - name: Print PR Title
        run: echo "New PR Opened {{ github.event.pull_request.title }}"
      - name: Print PR Number
        run: echo "PR Number {{ github.event.pull_request.number }}"