name: Deploy Project

on:
  push:
    branches:
      - main
#      - master
#      - 'dev-*' # dev-new, dev-old
#      - 'feature/**' #feat/new, fewat/new/button

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm ci
      - name: Run Linter
        run: npm run lint

  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm ci
      - name: Run Tests
        run: npm run test

  build:
    needs: [lint,run_tests]
    runs-on: ubuntu-latest
    outputs:
      js_file: ${{ steps.get_js_file.outputs.script_file}}
    steps:
      - name: Get Code
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm ci
      - name: Build Project
        run: npm run build
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-website-artifact
          path: dist/
      - name: Get name of generated javascript file
        id: get_js_file
        run: echo "script_file=$(ls dist/assets/*.js)" >> $GITHUB_OUTPUT

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: my-website-artifact
      - name: Output Files
        run: ls
      - name: Print js and css file names
        run:
          echo "js_file_name=${{ needs.build.outputs.js_file }}"
      - name: Deploy
        run: echo "Deployed!"